@import "../../styles/variables";

.Button {
  display: inline-block;
  padding: .625rem 2.5rem;
  background-color: $colorPrimary;
  color: white;
  font-size: 1.125rem;
  text-decoration: none;
  border: 2px solid $colorPrimary;
  border-radius: 3rem;
  transition: background-color .15s ease-in-out, color .15s ease-in-out;

  &:hover {
    background-color: white;
    color: $colorPrimary;
  }
}
