@import "../../styles/variables";

.Event {
  margin-bottom: 1rem;
  padding: .5rem;
  border: 3px solid $colorSecondary;
  border-radius: .625rem;

  @media screen and (min-width: #{$breakpointMd}) {
    display: flex;
    align-items: center;
    padding: .5rem 2rem;
  }

  &__category {
    color: $colorPrimary;
  }

  &__header {
    @media screen and (min-width: #{$breakpointMd}) {
      min-width: 50%;
      max-width: 50%;
    }
  }

  &__data {
    @media screen and (min-width: #{$breakpointMd}) {
      padding-left: 2rem;
    }
  }

  h3 {
    margin: 0;
  }

  p {
    margin: 0;
    font-size: 1.125rem;
  }
}
