@import "../../styles/variables";

.Filter {
  margin: 2rem 0;
  padding: 1rem 1rem .5rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: .625rem;
  text-align: center;
  background: white;

  @media screen and (min-width: #{$breakpointLg}) {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  &__search {
    margin-bottom: 2rem;
    order: 1;

    @media screen and (min-width: #{$breakpointLg}) {
      margin-bottom: 0;
    }
  }

  .Button {
    margin: 0 .2rem .5rem;
    padding: .625rem 1.5rem;
    font-size: 1rem;

    &:first-child {
      margin-left: 0;
    }

    @media screen and (min-width: #{$breakpointLg}) {
      margin-bottom: 0;
    }
  }

  .Input {
    @media screen and (min-width: #{$breakpointLg}) {
      min-width: 20rem;
    }
  }
}
