@import "../../styles/variables";

.Filter {
  margin: 2rem -1rem 1rem;
  padding: 1rem;
  // box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: .625rem;
  border-bottom-right-radius: .625rem;
  text-align: center;
  background: white;

  @media screen and (min-width: #{$breakpointLg}) {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 1rem;
  }

  &__search {
    display: none;
    
    @media screen and (min-width: #{$breakpointLg}) {
      display: block;
      margin-bottom: 2rem;
      order: 1;
      margin-bottom: 0;
    }
  }

  .Button {
    margin: 0 .2rem .5rem;
    padding: .625rem 1.5rem;
    font-size: 1rem;
    font-weight: 700;

    &:first-child {
      margin-left: 0;
    }

    @media screen and (min-width: #{$breakpointLg}) {
      margin-bottom: 0;
    }
  }

  .Input {
    @media screen and (min-width: #{$breakpointLg}) {
      min-width: 20rem;
    }
  }
}
