
.Button {
  display: inline-block;
  padding: .625rem 1.5rem;
  background-color: $colorPrimary;
  color: white;
  font-size: 1.125rem;
  text-decoration: none;
  border: 2px solid $colorPrimary;
  border-radius: 3rem;
  transition: background-color .15s ease-in-out, color .15s ease-in-out;
  cursor: pointer;

  @media screen and (min-width: #{$breakpointMd}) {
    padding: .625rem 2.5rem;
  }

  &::after {
    display: none;
  }

  &:hover {
    background-color: white;
    color: $colorPrimary;
  }
}

.ArrowButton {
  display: inline-block;
  position: relative;
  padding-right: 1.5rem;
  color: $colorSecondary;
  text-decoration: none;
  font-weight: 500;
  transition: color .15s ease-in-out;

  &::after {
    display: none;
  }

  &__icon {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, calc(-50% + .125rem));
    width: 1rem;
    transition: fill .15s ease-in-out, transform .15s ease-in-out;
  }

  &:hover {
    color: $colorPrimary;

    .ArrowButton__icon {
      fill: $colorPrimary;
      transform: translate(.5rem, calc(-50% + .1rem));
    }
  }
}
