@import "./variables";

body {
  font-family: $fontFamily;
  font-size: $defaultFontSizeSm;
  line-height: 1.5;
  hyphens: auto;

  @media screen and (min-width: #{$breakpointMd}) {
    font-size: $defaultFontSizeMd;
  }
}

* {
  box-sizing: border-box;
}

// typo

h1,
h2,
h3,
h4 {
  margin: 0 0 1rem;
  font-weight: 500;
  color: $colorSecondary;

  &:not(:first-child) {
    margin-top: 3rem;
  }
}

h1 {
  font-size: 2.25rem;

  @media screen and (min-width: #{$breakpointMd}) {
    font-size: 4.25rem;
  }
}

h2 {
  font-size: 1.75rem;

  @media screen and (min-width: #{$breakpointMd}) {
    font-size: 3.25rem;
  }
}

h3 {
  font-size: 1.5rem;

  @media screen and (min-width: #{$breakpointMd}) {
    font-size: 1.75rem;
  }
}

h4 {
  font-size: 1.25rem;
}

p {
  margin: 0 0 1rem;
}

a {
  display: inline-block;
  position: relative;
  color: $colorSecondary;
  text-decoration: none;
  transition: color .15s ease-in-out;

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background: $colorPrimary;
    transition: left .15s ease-in-out, right .15s ease-in-out;
  }

  &:hover {
    color: $colorPrimary;

    &::after {
      left: 15%;
      right: 15%;
    }
  }
}

.center {
  text-align: center;
}

// buttons

.Button {
  display: inline-block;
  padding: .625rem 1.5rem;
  background-color: $colorPrimary;
  color: white;
  font-size: 1.125rem;
  text-decoration: none;
  border: 2px solid $colorPrimary;
  border-radius: 3rem;
  transition: background-color .15s ease-in-out, color .15s ease-in-out;

  @media screen and (min-width: #{$breakpointMd}) {
    padding: .625rem 2.5rem;
  }

  &::after {
    display: none;
  }

  &:hover {
    background-color: white;
    color: $colorPrimary;
  }
}

.ArrowButton {
  display: inline-block;
  position: relative;
  padding-right: 1.5rem;
  color: $colorSecondary;
  text-decoration: none;
  font-weight: 500;
  transition: color .15s ease-in-out;

  &::after {
    display: none;
  }

  &__icon {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, calc(-50% + .125rem));
    width: 1rem;
    transition: fill .15s ease-in-out, transform .15s ease-in-out;
  }

  &:hover {
    color: $colorPrimary;

    .ArrowButton__icon {
      fill: $colorPrimary;
      transform: translate(.5rem, calc(-50% + .1rem));
    }
  }
}

// container

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 76.25rem;
  padding-left: 1rem;
  padding-right: 1rem;

  @media screen and (min-width: #{$breakpointMd}) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  &__page {
    max-width: 57.5rem;
    margin-left: auto;
    margin-right: auto;
  }
}

// margins

.mb {
  margin-bottom: $marginSm;

  @media screen and (min-width: #{$breakpointMd}) {
    margin-bottom: $marginMd;
  }
}

.mb-sm {
  margin-bottom: 1.5rem;

  @media screen and (min-width: #{$breakpointMd}) {
    margin-bottom: 2rem;
  }
}

// table

table {
  margin: 1rem auto 2rem;
  text-align: left;

  thead {
    tr {
      border-bottom: 2px solid $colorSecondary;

      th {
        padding-bottom: .25rem;
      }
    }
  }

  tr {
    th,
    td {
      padding: .25rem 1rem 0;
    }
  }
}

.table {
  &--responsive {
    overflow-x: auto;
    
    table {
      white-space: nowrap;

      @media screen and (min-width: #{$breakpointMd}) {
        white-space: initial;
      }
    }
  }
}

// custom blocks

.subSectionHeadline {
  margin-bottom: 2rem;

  &::after {
    content: '';
    display: block;
    width: 60px;
    height: 20px;
    margin: 0 auto;
    background: center no-repeat;
    background-image: url(../img/seperator.svg); 
    background-size: 100%;
  }
}

.simpleTeaser {
  max-width: 36rem;
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
  border: 3px solid $colorSecondary;
  border-radius: .625rem;

  @media screen and (min-width: #{$breakpointMd}) {
    padding: 1.25rem 2rem;
  }

  &__headline {
    margin: 0 0 .5rem;
    font-size: 1.5rem;
  }

  &__text {
    margin: 0;
    font-size: 1.125rem;
  }

  &__subline {
    margin: 0;
    color: $colorPrimary;
    font-size: 1.125rem;
  }
}
