$fontFamily: 'Barlow Semi Condensed', sans-serif;
$defaultFontSizeSm: 1.125rem;
$defaultFontSizeMd: 1.25rem;

$colorDefault: #171717;
$colorPrimary: #EF485B;
$colorSecondary: #003D77;
$colorLight: #EDF1F4;
$colorMedium: #D1D6D9;

$breakpointSm: 576px;
$breakpointMd: 768px;
$breakpointLg: 992px;
$breakpointXl: 1200px;

$marginSm: 3rem;
$marginMd: 5rem;
$marginContent: 2rem;
