@import "../../styles/variables";

body {
  font-family: $fontFamily;
  font-size: $defaultFontSize;
  line-height: 1.5;
}

.container {
  margin: 0 auto;
  max-width: 76.25rem;
  padding: 0 1rem;

  @media screen and (min-width: #{$breakpointMd}) {
    padding: 0 2rem;
  }
}
