@import "../../styles/variables";

.SectionHeadline {
  margin-bottom: 1rem;

  &__headline {
    margin-bottom: 0;
  }

  &__seperator {
    display: block;
    margin: .5rem auto 0;
    width: 4.5rem;
  }
}
