@import "../../styles/variables";

.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  background: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, .1);
  z-index: 9;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}

.Social {
  display: flex;
  justify-content: center;
  align-items: center;

  &__link {
    &::after {
      display: none;
    }

    &:hover {
      .Social__icon {
        fill: $colorPrimary;
      }
    }
  }

  &__icon {
    display: block;
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    fill: $colorSecondary;
    transition: fill .15s ease-in-out;
  }
}

.NavigationTrigger {
  margin: 0 0 0 2rem;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;

  @media screen and (min-width: #{$breakpointMd}) {
    margin-left: 3rem;
  }

  @media screen and (min-width: #{$breakpointXl}) {
    display: none;
  }

  &:hover {
    .NavigationTrigger__icon {
      fill: $colorPrimary;
    }
  }

  &__icon {
    display: block;
    width: 2.25rem;
    height: 2.25rem;
    fill: $colorSecondary;
    transition: fill .15s ease-in-out;
  }
}
