@import "../../styles/variables";

.Navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  padding: 1rem 2rem;
  background: white;
  z-index: 9;
  overflow-y: auto;
  opacity: 0;
  transition: opacity .15s ease-in-out;

  &--isOpen {
    opacity: 1;
    left: 0;

    .Navigation__wrapper {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @media screen and (min-width: #{$breakpointXl}) {
    opacity: 1;
    width: auto;
    height: auto;
    position: relative;
    top: auto;
    left: auto;
    padding: 0;
    overflow-y: visible;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(2rem);
    opacity: 0;
    transition: transform .15s ease-out, opacity .15s ease-out;
    transition-delay: .15s;

    @media screen and (min-width: #{$breakpointXl}) {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      transform: translateY(0);
      opacity: 1;
    }
  }

  &__link {
    color: $colorDefault;
    text-decoration: none;
    transition: color .15s ease-in-out;;
    font-size: 1.625rem;

    @media screen and (min-width: #{$breakpointXl}) {
      display: inline-block;
      padding: 1rem 0;
      font-size: $defaultFontSizeMd;
    }

    &:hover {
      color: $colorPrimary;
    }

    &::after {
      display: none;
    }

    &--active {
      color: $colorPrimary;
    }
  }

  &__item {
    position: relative;
    margin-top: 1rem;

    @media screen and (min-width: #{$breakpointXl}) {
      margin-top: 0;
      margin-left: 3.75rem;

      &:first-child {
        margin-left: 0;
      }

      &:hover {
        .SubNavigation {
          height: auto;
          opacity: 1;
          transform: translate(0, 0);
        }
      }
    }
  }

  &__close {
    position: absolute;
    top: 2rem;
    right: 1rem;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;

    @media screen and (min-width: #{$breakpointMd}) {
      right: 2rem;
    }

    @media screen and (min-width: #{$breakpointXl}) {
      display: none;
    }

    &:hover {
      svg {
        fill: $colorPrimary;
      }
    }

    svg {
      display: block;
      width: 2.25rem;
      height: 2.25rem;
      fill: $colorSecondary;
      transition: fill .15s ease-in-out;
    }
  }
}

.SubNavigation {
  @media screen and (min-width: #{$breakpointXl}) {
    position: absolute;
    top: 100%;
    left: -1.5rem;
    height: 0;
    min-width: 20rem;
    background: white;
    opacity: 0;
    overflow: hidden;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .125);
    transform: translate(0, 1rem);
    transition: opacity .15s ease-in-out, transform .15s ease-in-out;
      
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 5px;
      background-image: linear-gradient(to right, $colorSecondary, $colorPrimary);
    }
  }

  &__list {
    @media screen and (min-width: #{$breakpointXl}) {
      padding: 1rem 1.5rem 2rem;
    }
  }

  &__item {
    margin-top: .5rem;

    @media screen and (min-width: #{$breakpointXl}) {
      margin-top: 1rem;
    }
  }

  &__link {
    font-size: 1.125rem;

    @media screen and (min-width: #{$breakpointXl}) {
      &::after {
        display: none;
      }
    }
  }
}
