@import "../../styles/variables";

.News {
  @media screen and (min-width: #{$breakpointMd}) {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
  }

  .TeaserOutlined {
    margin: 0 0 1rem;

    @media screen and (min-width: #{$breakpointMd}) {
      min-width: calc(50% - .5rem);
      max-width: calc(50% - .5rem);
    }

    @media screen and (min-width: #{$breakpointLg}) {
      margin: 0 0 2rem;
      min-width: calc(33% - 1rem);
      max-width: calc(33% - 1rem);
    }
  }

  &__box {
    margin-bottom: -6rem;
    padding: 3rem 0;
    background: $colorPrimary;
    color: white;

    @media screen and (min-width: #{$breakpointMd}) {
      padding: 5rem 0 2rem;
    }

    h3 {
      color: white;
    }

    .TeaserOutlined {
      border-color: white;
    }

    .TeaserOutlined__seperator {
      display: none;
    }

    .ArrowButton {
      &:hover {
        color: white;

        svg {
          fill: white;
        }
      }
    }
  }

  &__headline {
    margin-bottom: 2rem;
  }
}
