@import "../../styles/variables";

.News {
  @media screen and (min-width: #{$breakpointMd}) {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin: 0 -1rem;
  }

  .TeaserOutlined {
    margin: 0 0 1rem;

    @media screen and (min-width: #{$breakpointMd}) {
      min-width: calc(50% - 2rem);
      max-width: calc(50% - 2rem);
      margin: 0 1rem 2rem;
    }

    @media screen and (min-width: #{$breakpointLg}) {
      min-width: calc(33% - 2rem);
      max-width: calc(33% - 2rem);
    }
  }

  &__box {
    margin-bottom: -4rem;
    padding: 3rem 0;
    background: $colorPrimary;
    color: white;

    @media screen and (min-width: #{$breakpointMd}) {
      margin-bottom: -6rem;
      padding: 5rem 0;
    }

    h3 {
      color: white;
    }

    .TeaserOutlined {
      border-color: white;
    }

    .TeaserOutlined__seperator {
      display: none;
    }

    .ArrowButton {
      color: $colorDefault;

      svg {
        fill: $colorDefault;
      }

      &:hover {
        color: white;

        svg {
          fill: white;
        }
      }
    }
  }

  &__headline {
    margin-bottom: 2rem;
  }
}
