@import "../../styles/variables";

.Slider {
  margin-top: $marginSm;

  @media screen and (min-width: #{$breakpointMd}) {
    margin-top: $marginMd;
  }

  &__item {
    position: relative;
    padding-bottom: 56.25%;
    background: center no-repeat;
    background-size: cover;
  }

  &__image {
    width: 1px;
    height: 1px;
    position: absolute;
    top: -1px;
    left: -1px;
  }

  .slick-slide > div > div {
    display: block !important;
  }

  .slick-list {
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
    border-radius: 1.25rem;
  }

  .slick-dots {
    position: absolute;
    top: -2.75rem;
    left: 50%;
    transform: translateX(-50%);
    
    li {
      display: inline-block;
      margin: 0 .2rem;
      padding: 0;

      &::before {
        display: none;
      }
    }

    button {
      width: 10px;
      height: 10px;
      padding: 0;
      background: $colorSecondary;
      border: 0;
      font-size: 0;
      border-radius: .5rem;
      cursor: pointer;
      transition: background-color .15s ease-in-out, width .15s ease-in-out;
    }

    .slick-active {
      button {
        background: $colorPrimary;
      }
    }
  }
}
